/* Global styles */

:root {
    --color-1: #22FFD3;
    --color-2: #6BBAA4;
    --color-3: #C7FCEB;
    --color-4: #4034A4;
    --white: #F7EBFF;
    --correct-color: #;
    --incorrect-color: #;

}

* {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-color: var(--white);
    color: var(--color-4);
}

header {

    width: 100%;
    background-color: var(--color-4);
    color: white;
    height: 4rem;
    
}

header h1 {
    text-align: center;
}

/* Start screen */

#btn-start {
    background-color: var(--color-2);
    color: black;
    height: 150px;
    width: 200px;
    font-size: 2rem;
    border: 2px solid black;
    padding: 0.5em 1.8em;
    border-radius: 10px;
}

.start-container {
    margin-top: 10vh;
    text-align: center;
}


/* Game screen */

.game-container {
    width: 80%;
    background-color: transparent;
    position: absolute;
    color: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.game-header {
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    background-color:  var(--color-4);
    color: white;
    border-radius: 10px;
}

.choice-container {
    position: relative;
    display: grid;
    width: 80px;
    height: 40%;
    grid-row: auto auto;
    grid-template-columns: 30rem 30rem;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

.choice-box {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-4);
    color: white;
    padding: 70px 20px;
    text-align: start;
}

.choice-letter {
    display: inline-block ;
}

.choice-answer {
    display: inline-block ;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
}