/* Global styles */

:root {
    --color-1: #f0cea0;
    --color-2: #f3a712;
    --color-3: #db2b39;
    --color-4: #29335c;
    --color-5: #534d41;
    --white: #F7EBFF;
    --correct-color: #;
    --incorrect-color: #;

}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 7px;
}

body {
    background-color: var(--color-4);
    color: var(--white);
}

header {
    width: 100%;
    background-color: none;
    color: white;
    height: 3rem;
    padding-top: 0.6rem;
}

header h1 {
    text-align: center;
}

.hidden {
    display: none;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

/* Start screen */

#btn-start {
    background-color: var(--color-3);
    color: var(--white);
    height: 150px;
    width: 200px;
    font-size: 2rem;
    border: none;
    padding: 0.5em 1.8em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition-duration: 0.3s;
}

#btn-start:hover, #btn-start:active {
    transform: translate( 1px, 1px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#start-container {
    margin-top: 10vh;
    text-align: center;
}

#start-container p {
    background-color: var(--color-2);
    font-weight: 500;
    font-size: 1.2rem;
    width: 55%;
    margin: 0 auto 5vh auto;
    padding: 10px;
}

br {
    display: block;
    margin-bottom: 1rem;
}

/* Game screen */

#game-container {
    background-color: var(--white);
    color: var(--color-4);
    text-align: center;
    width: 80%;
    height: 75vh;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
}

.game-header {
    margin-bottom: 0.9em;
    display: flex;
    justify-content: space-between;
    text-align: start;
    background-image: linear-gradient(160deg, #f0cea0aa, #f0cea0, #f3a712);
    color: white;
    padding: 2px 10px;
    font-size: 1.2rem;
    color: var(--color-5);
    font-weight: bolder;
}

.choice-answer {
    display: inline-block ;
    font-weight: 300;
}

#question {
    font-weight: 800;
    font-size: 1.6rem;
    margin-bottom: 2vh;
}

.btn-choice {
    position: relative;
    width: 100%;
    background-color: var(--color-2);
    border: none;
    margin: 1vh 0;
    padding: 1rem;
    text-align: left;
    font-weight: 600;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
}

.btn-choice:hover, .btn-choice:active {
    box-shadow: none;
    transform: translate( 0.5px, 0.5px);
}

.btn-choice[disabled] {
    pointer-events: none;
}

#btn-ctn {
    background-color: var(--color-3);
    color: white;
    height: 50px;
    width: 200px;
    font-size: 1.3rem;
    transition: 0.5s;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    position: absolute;
    bottom: 4%;
    right: 4%;
}

#btn-ctn:hover, #btn-ctn:active {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translate( 1px, 1px);
}


.red {
    background-color: var(--color-3);
    color: white;
}

.green {
    background-color: #2e8b57;
    color: white;
}

/* Well done div */

#quiz-end {
    background-color: var(--color-4);
    width: 50%;
    height: 20%;
    padding: 30px;
    position: absolute;
    justify-content: center;
    top: 25%;
    left: 20%;
    text-align: center;
    font-size: 2.6rem;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: none;
    width: 100%;
    color: var(--white);
}

/* Small screen responsivity */

@media only screen and (max-width: 768px) {
    .btn-choice {
        font-size: 1rem;
    }
    #question {
        font-size: 1.2rem;
    }
    #quiz-end {
        height: 40%;
        padding: 15px;
        font-size: 2rem;
    }
}

@media only screen and (max-width: 480px) {
    #btn-ctn {
        height: 35px;
        width: 150px;
        bottom: 4px;
        right: 4px;
        font-size: 1.2rem;
    }
    .btn-choice {
        font-size: 0.8rem;
    }
    header h1 {
        font-size: 1.4rem;
    }
    .game-header {
        font-size: 0.8rem;
    }
    #game-container {
        height: 80vh;
    }
}